* {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, sans-serif;
}

.gap {
    margin-top: 2rem;
}

/* TITLE */
.title-text {
    font-size: 2.4rem;
    /* ini kalo kegedean nanti ganti aja jadi 3/4 rem yh*/
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

/* SUBTITLE */
.subtitle-text {
    font-size: 1rem;
    color: black;
    /* nanti ganti jadi white ya bentih, ini cuma biar keliatan aja*/
    opacity: 50%;
}

/* TEXT FIELD */
.text-field {
    margin-bottom: 1.5rem;
    width: 100%;
}

.text-field-label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.text-field-input {
    padding: 1rem 1.2rem;
    width: 100%;
    min-width: 26rem;
    box-sizing: border-box;
    border: none;
    border-radius: 1rem;
    background: #E5D0C9;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 3.5px 14px rgba(0, 0, 0, 0.2);
}

.text-field-input:focus {
    outline: none;
    box-shadow: 0 3.5px 14px rgba(0, 0, 0, 0.4);
}

/* FORGOT & OPTION */
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 2rem;
    font-size: 1rem;
}

.remember {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.remember input {
    width: 1.25rem;
    height: 1.25rem;
    accent-color: #f97316;
    cursor: pointer;
}

.forgot {
    color: white;
    text-decoration: none;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.forgot:hover {
    text-decoration: underline;
}

/* GLASS BUTTON */
.btn-glass {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background: rgba(47, 47, 47, 0.18);
    border-radius: 1rem;
    border: .1rem solid rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(3rem);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.2),
        inset 0 2px 8px rgba(213, 213, 213, 0.5),
        inset 0 -3px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateY(-1px);
}

/* CARD */
.card-container {
    display: flex;
    gap: 1.6rem;
    align-items: stretch;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 1rem 3rem 1rem 1.4rem;
    background: radial-gradient(circle at top left,
            rgba(248, 127, 66, 0.1),
            rgba(0, 0, 0, 0.2));
    border-radius: 1rem;
    border: 0.1rem solid #e4e4e4;
}

.card-scroll {
    flex: 1;
    overflow-y: auto;
}

.card {
    padding: 1rem 3rem 1rem 1.4rem;
    background: radial-gradient(circle at top left,
            rgba(248, 127, 66, 0.1),
            rgba(0, 0, 0, 0.2));
    border-radius: 1rem;
    border: 0.1rem solid #e4e4e4;
    flex: 1;
}

.card-label,
.card-value,
.card-caption,
.pie-chart {
    margin: 0;
}

.card-label {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.card-value {
    font-size: 6rem;
    font-weight: 700;
    color: #FA8327;
    text-shadow: 0 0 16px rgba(204, 151, 78, 0.3);
}

.card-caption {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

/* pie chart */
.chart {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.pie-chart {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: .05rem solid white;
}

.chart-info .item {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: .4rem;
}

.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 20%;
}

.paid {
    background: #ff8a2a;
}

.unpaid {
    background: #d65a0f;
}

.overdue {
    background: #8b3a0e;
}

.chart-info p {
    margin: 0;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.4);
}

.chart-info h2 {
    margin: 0;
    font-size: 2.2rem;
    color: rgba(255, 255, 255, 0.4);
    ;
}

/* metric */
.metric {
    display: flex;
    align-items: baseline;
    gap: .2rem;
    margin: 1.2rem 0 1.2rem 0;
}

.metric-max {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0 2px 4px rgbargba(196, 196, 196, 0.25)
}

.light-brown-btn {
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    border: 0.05rem solid #e4e4e4;
    font-size: 1rem;
    color: white;
    background-color: #602316;
    box-shadow:
        0 8px 32px rgba(176, 75, 41, 0.3),
        inset 0 2px 8px rgba(30, 30, 30, 0.4),
        inset 0 -3px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

/* bar chart */
.bar-chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-chart-content {
    flex: 1;
}

.bar-chart-wrapper {
    position: relative;
    height: 10rem;
    margin-top: 2rem;
}

.bar-chart-grid {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(200, 200, 200, 0.3) 1px,
            transparent 1px);
    background-size: 100% 25%;
}

.bar-chart-bars {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding: 0 1.4rem;
}

.bar-chart-group {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.bar-chart-bar {
    width: 1.6rem;
    border-radius: 0.4rem;
    min-height: 2px;
    transition: height 0.4s ease;
}

.bar-chart-bars {
    height: 100%;
    gap: .6rem;
}

.bar-chart-bar-electricity {
    background: #D86A19;
}

.bar-chart-bar-water {
    background: #B03918;
}

.bar-chart-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 2rem;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0 2px 4px rgba(196, 196, 196, 0.25)
}

.bar-chart-legend {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1.5rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.6);
}

.bar-chart-legend-item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.bar-chart-legend-color {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
}

.bar-chart-legend-color.electricity {
    background: #D86A19;
}

.bar-chart-legend-color.water {
    background: #B03918;
}

.dark-brown-button {
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    border: 0.05rem solid #e4e4e4;
    font-size: 1rem;
    color: white;
    background-color: #391d18;
    box-shadow:
        0 8px 32px rgba(176, 75, 41, 0.3),
        inset 0 2px 8px rgba(30, 30, 30, 0.4),
        inset 0 -3px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.button-wrapper {
    display: flex;
    gap: 1rem;
    align-items: stretch;
    margin-top: 2rem;
}

.usage-table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    font-size: 1.2rem;
    text-align: left;
    margin-top: 1rem;
}

.usage-table th,
.usage-table td {
    padding: .6rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.usage-table th {
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 1.4rem;
}

.card-scroll {
    flex: 1;
    overflow-y: auto;
    padding-right: 0.5rem;
    scrollbar-width: thin;
    scrollbar-color: rgba(196, 196, 196, 0.6) transparent;
}

.card-scroll::-webkit-scrollbar {
    width: 1rem;
}

.card-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.card-scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,
            rgba(120, 120, 120, 0.8),
            rgba(152, 152, 152, 0.4));
    border-radius: 20px;
}

.card-scroll::-webkit-scrollbar-thumb:hover {
    background: #98989866;
}

.card-body {
    width: 100%;
    height: 100%;
    max-height: 9rem;
    display: flex;
    flex-direction: column;
}

.usage-table tr:hover {
    background: rgba(255, 255, 255, 0.1);
}

/*SIDEBAR*/
.sidebar {
    position: fixed;
    width: 16rem;
    min-height: 100vh;
    color: white;
    padding: 4rem 0 4rem 2rem;
    border-radius: 0 3rem 3rem 0;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,
            #1F0A00 0%,
            #3D1200 22%,
            #5C1A00 48%,
            #8C2A00 72%,
            #E05A00 100%);
    box-shadow: 4px 0 25px rgba(169, 169, 169, 0.5);
    position: relative;
    overflow-y: auto;
}

.sidebar-logo {
    margin-bottom: 2rem;
    z-index: 3;
}

.logo-image {
    width: 6rem;
    height: 6rem;
}

.sidebar-nav {
    margin-right: 1rem;
}

.sidebar-title {
    font-size: 2rem;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    text-decoration: underline;
    margin-bottom: 3rem;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: .4rem;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-size: 1.2rem;
    transition: all 0.3s;
    z-index: 3;
    padding: .6rem .6rem;
}

.menu-item:hover {
    background: rgba(255, 138, 0, 0.18);
}

.menu-text {
    font-size: 1.2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.sidebar-icon {
    font-size: 1.2rem;
    width: 2rem;
}

.submenu {
    padding-left: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 3;
}

.submenu-item {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: .4rem 1.6rem;
    font-size: 0.97rem;
    border-radius: 8px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.submenu-item:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

/* POP UP CARD */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999;
}

.popup.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-card {
    position: relative;
    background: #131316;
    padding: 2rem;
    border-radius: 1.6rem;
    z-index: 2;
}

.popup-header {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.popup-body {
    margin: 2rem 0;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

/* TABLE */
.table-card {
    border-radius: 1.6rem;
    border: .05rem solid rgb(161, 161, 161);
    /* nanti ganti putih ya */
}

.table-card-header {
    background-color: rgba(0, 0, 0, 0.2);
    /* Nanti ganti Putih ya*/
    padding: 1.2rem;
    border-radius: 1.5rem 1.5rem 0 0;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: space-between;
}

.table-card-header .value {
    font-weight: 700;
    margin-left: 1rem;
}

.table-card .table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid rgba(64, 64, 64, 0.2);
    /* Nanti ganti Putih ya*/
    overflow: hidden;
}

.table-card .table thead th {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: left;
}

.table-card .table th,
.table-card .table td {
    padding: .6rem 1.2rem;
    border-bottom: 1px solid rgba(69, 69, 69, 0.1);
    /* Nanti ganti Putih ya*/
    border-right: 1px solid rgba(53, 53, 53, 0.1);
    /* Nanti ganti Putih ya*/
}

.table th:last-child,
.table td:last-child {
    border-right: none;
}

.table tr:last-child td {
    border-bottom: none;
}

/* buat status nanti bisa di lihat ada apa aja, tinggal ganti wwarna aja */
.light-green-status-btn {
    width: 100%;
    padding: .4rem;
    border-radius: 3rem;
    border: 0.05rem solid #e4e4e4;
    font-size: .8rem;
    background-color: rgba(113, 152, 81, 0.8);
    color: white;
}

.dark-green-status-btn {
    padding: .4rem;
    border-radius: 3rem;
    border: 0.05rem solid #e4e4e4;
    font-size: .8rem;
    background-color: rgba(37, 82, 0, 0.8);
    color: white;
    width: 100%;
    box-shadow:
        inset 0 2px 8px rgba(0, 0, 0, 0.2),
        inset 0 -3px 10px rgba(0, 0, 0, 0.2);
}

.dark-red-status-btn {
    padding: .4rem;
    border-radius: 3rem;
    border: 0.05rem solid #e4e4e4;
    font-size: .8rem;
    background-color: rgba(124, 0, 0, 0.8);
    color: white;
    width: 100%;
    box-shadow:
        inset 0 2px 8px rgba(30, 30, 30, 0.2),
        inset 0 -3px 10px rgba(0, 0, 0, 0.2);
}

.blue-type-btn {
    width: 100%;
    padding: .4rem;
    border-radius: 3rem;
    border: 0.05rem solid #e4e4e4;
    font-size: .8rem;
    background: rgba(49, 85, 205, 0.8);
    color: white;
}

.yellow-type-btn {
    width: 100%;
    padding: .4rem;
    border-radius: 3rem;
    border: 0.05rem solid #e4e4e4;
    font-size: .8rem;
    background: rgba(192, 156, 47, 0.8);
    color: white;
}

/* SEARCH BAR */
.search-wrapper {
    position: relative;
}

.search-wrapper input {
    width: 30%;
    padding: 0.8rem 1rem 0.8rem 2.5rem;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    background-color: rgba(118, 36, 11, 0.6);
    box-shadow:
        0 8px 32px rgba(204, 129, 85, 0.4),
        inset 0 3px 30px rgba(30, 30, 30, 0.4),
        inset 0 -3px 10px rgba(0, 0, 0, 0.4);
}

.search-wrapper input:focus {
    outline: none;
    box-shadow:
        0 8px 32px rgba(204, 129, 85, 0.4),
        inset 0 3px 30px rgba(30, 30, 30, 0.4),
        inset 0 -3px 10px rgba(0, 0, 0, 0.4);
}

.search-wrapper input::placeholder {
    color: white;
}

.search-wrapper .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}